.box {
    background-color: lightblue;
}

.highlight {
    color: yellow;
    background-color: red;
    font-size: 24px;
    text-decoration: underline;
}

.header {
    background-color: darkgreen;
    color: white;
    text-align: center;
}

.links {
    background-color: red;
}