/*Tags have default styling there are more ... these are some of them*/

h1 {
    display: block;
}

h2 {
    display: block;
}

p { /* build in stying block display*/
    background-color: orange;
    display: block;
}

a { /*build in stying inline display*/
    background-color: green;
    display:inline
}

button {
    display: inline;
}